<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>ZunekoApp</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul style="list-style: none;">
        {% for category, message in messages %}
          <li style="color: {% if category == 'danger' %}red{% else %}green{% endif %};">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
